{%extends 'base.html'%}
{%block title%}About{%endblock%}
{%block content%}
    <div class="container"  style="text-align:center">
        <h1>About BT Real Estate</h1>
        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h4>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h3>We Search for the Perfect Home for you</h3>
                <div style="height:350px;margin-top:20px">
                    <img src="/static/images/656669.jpg" alt="" style="height: 100%; width:100%">
                </div>
                <p style="margin-top: 20px;">Sed sed magna molestie nisl lobortis vestibulum ut non libero. Maecenas quis quam eget lorem cursus ornare. Suspendisse euismod vel neque vestibulum elementum. Aliquam erat volutpat. Maecenas nec magna varius, lobortis eros ac, molestie justo. Curabitur viverra turpis at erat bibendum cursus. Quisque auctor ex orci, ullamcorper sagittis lectus egestas vel.</p>
            </div>

            <div class="col-sm-4">
                <h3></h3>
                <div class="mvp">
                    <div style="height: 150px;width:150px;background:url('{{realtor.photo.url}}');background-size:cover;background-position:center;background-repeat:no-repeat;margin:auto;border-radius:50%;"></div>
                    <h3>Seller of the Month</h3>
                    <p><h4><a href="#" style="color: darkcyan;">{{realtor.realtor_name}}</a></h4></p>
                    <p style="color:grey">Nullam lobortis risus et imperdiet finibus. Nam mi justo, viverra ac sem quis, efficitur commodo lorem. Suspendisse sit amet lectus tempus est maximus rutrum vel sed augue.</p>
                </div>
            </div>

        </div>
    </div>
    {%include 'includes/_footer.html'%}
{%endblock%}